# Node modules
node_modules/

# Python virtual environment
venv/
__pycache__/

# Environment variables
.env

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
